
.footerBoxdiv{
    margin-top: 25px;
    margin-right: 20px;
}

.textBoxrow1{
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}
.textBox{
    font-size: .8em;
    text-decoration: none;
    float: right; 
    margin-right: 20px;
    color: black;
}
.phone{
    display: flex;
    margin-right: 20px;
    font-size: .8em; 
}
.email{
    display: flex;
    margin-right: 20px;
    font-size: .8em;   
}
.introduction{
    float: right;
    font-size: .8em;
    margin-right: 20px;
}
.textBox1{
    margin-top: 30px;
}
.textBoxp{
    float: right; 
    margin-right: 20px;
    
}
.textBoxspan{
    font-size: .7em;
    margin-right: 20px;
    float: right;
}
.textBoxspanui{
    font-size: .8em;
    /* margin-right: 20px; */
    float: right;
    display: flex;
}
.footerBox1{
    height: 220px;
    background-color: rgba(113, 192, 239, 1);
    color: black;
    text-decoration: none; 
}
ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
.formsubscribe{
   /* float: right; */
   margin-right: 5px;
}

.membership{
   border: none;
   height: 29px;
   width: 20px;
   background-color: rgba(113, 192, 239, 1); 
   visibility: visible;
   opacity: 0.5;
   transition: visibility 1s, opacity 0.5s linear;
  }
  .membership:hover {
    visibility: hidden;
    opacity: 0;
  }
  .emailbox{
      border: none;
      border-radius: 3px;
      width: 68%;
      font-size: .7em;
      margin-right: 2px;
      padding-right: 5px;
  }

.footerBox2{
    height: 220px;
    background-color: rgba(113, 192, 239, 1);
}
.phone, .enveloperfooter, .locationfooter 
{
    width:20px;
    height: 20px;
     /* border-radius: 5px; */
}
.footerBox3{
    height: 220px;
    background-color: rgba(113, 192, 239, 1);
}
.footerBox4{
    height: 220px;
    background-color: rgba(113, 192, 239, 1);
}
.iconsfooterrow1{
    width:65px;
    height:65px;
}
.iconsfooterrow2{
width:25px;
height:25px;
padding: 5px;
}
.kidkalafooter{
    width:45px;
    height:45px; 
    float: right;
    text-align: center;
}
.kidkalafooterdiv{
    margin-right: 38px;
}
.copyright{
    font-size:.75em;
    float: right;
    margin-top: 12px;
}
.table, .th, .td {
    border:none;
    width: 100%;
    font-size:.75em;
    text-align: center;
  }
  .divar{
    width: 35px;
    height: 28px;
    padding:.2em;
  }
  .iconsfooterrow2div{
margin-left: 25%;
  }